@model Itventory.web.Models.DeviceModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Editar Dispositivo</h6>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Status" />
                <input type="hidden" asp-for="DeviceTypeId" />
                <div class="form-row">
                    <div class="form-group col-sm-3">
                        <label asp-for="Model" class="control-label">Modelo</label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="DeviceBrandId" class="control-label">Marca</label>
                        <select asp-for="DeviceBrandId" class="form-control" asp-items="ViewBag.DeviceBrandId">
                            <option value="">Seleccionar...</option>/select>
                        </select>
                        <span asp-validation-for="DeviceBrandId" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group col-sm-3">
                        <label asp-for="Ram" class="control-label">Ram(Gbs)</label>
                        <input asp-for="Ram" class="form-control" />
                        <span asp-validation-for="Ram" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="SolidStateDrive" class="control-label">Disco Solido</label>
                        <input asp-for="SolidStateDrive" class="form-control" />
                        <span asp-validation-for="SolidStateDrive" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="HardDiskDrive" class="control-label">Disco Mecanico</label>
                        <input asp-for="HardDiskDrive" class="form-control" />
                        <span asp-validation-for="HardDiskDrive" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Series" class="control-label">Serie</label>
                        <input asp-for="Series" class="form-control" />
                        <span asp-validation-for="Series" class="text-danger"></span>
                    </div>
                    @if (Model.DeviceTypeId == 6)
                    {

                        <div class="form-group col-sm-6">
                            <label asp-for="ProcessorId" class="control-label">Procesador</label>
                            <select asp-for="ProcessorId" class="form-control" asp-items="ViewBag.ListaProcesadoresIdPc">
                                <option value="">Seleccionar...</option>
                            </select>
                            <span asp-validation-for="ProcessorId" class="text-danger"></span>
                        </div>

                    }
                    else
                    {
                        <div class="form-group col-sm-6">
                            <label asp-for="ProcessorId" class="control-label">Procesador</label>
                            <select asp-for="ProcessorId" class="form-control" asp-items="ViewBag.ListaProcesadoresIdTel">
                                <option value="">Seleccionar...</option>
                            </select>
                            <span asp-validation-for="ProcessorId" class="text-danger"></span>
                        </div>

                    }

                    @if (Model.DeviceTypeId == 6)
                    {
                        <div class="form-group col-sm-6">
                            <label asp-for="WindowsLicenseId" class="control-label">Licencia de Windows(Opcional)</label>
                            <select asp-for="WindowsLicenseId" class="form-control" asp-items="ViewBag.WindowsLicenseId">
                                @if (Model.WindowsLicenseId == null)
                                {
                                    <option value="">Seleccionar...</option>
                                }
                                else
                                {
                                    <option value="">Quitar Licencia...</option>
                                }
                            </select>
                            <span asp-validation-for="WindowsLicenseId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="AntivirusLicenseId" class="control-label">Licencia de Windows(Opcional)</label>
                            <select asp-for="AntivirusLicenseId" class="form-control" asp-items="ViewBag.AntivirusLicenseId">
                                @if (Model.AntivirusLicenseId == null)
                                {
                                    <option value="">Seleccionar...</option>
                                }
                                else
                                {
                                    <option value="">Quitar Licencia...</option>
                                }
                            </select>
                            <span asp-validation-for="AntivirusLicenseId" class="text-danger"></span>
                        </div>
                    }
                </div>

                <div class="form-group text-center">
                    <button id="submit" type="submit" class="btn btn-outline-primary">
                        <i class="bi bi-floppy"></i> Guardar
                    </button>
                    <button id="backToList" type="button" class="btn btn-outline-danger" o onclick="window.location.href='@Url.Action("Index", "Devices")'">
                        <i class="bi bi-x-octagon"></i> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}