<script src="~/js/Alert.js"></script>
<script src="~/js/Usuarios.js"></script>
@model List<UsuarioListadoVM>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Usuarios</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <a asp-action="Create" class="btn btn-outline-success">
                        <i class="fa-solid fa-plus"></i> Nuevo
                    </a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <ejs-grid id="Grid" dataSource="ViewBag.dataSource" allowPaging="true" allowSorting="true" allowResizing="true" allowReordering="true" allowGrouping="true" toolbar="@(new List<string>() { "Search", "ExcelExport", "PdfExport"})" allowFiltering="true" allowSelection="true" allowExcelExport="true" allowPdfExport="true" toolbarClick="toolbarClick">
                        <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
                        <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
                        <e-grid-columns>
                            <e-grid-column type="checkbox" width="50"></e-grid-column>
                            <e-grid-column field="Id" visible=false></e-grid-column>
                            <e-grid-column field="Email" headerText="Nombre de Usuario"></e-grid-column>
                            <e-grid-column field="Rol" headerText="Rol"></e-grid-column>
                            <e-grid-column headerText="Acciones" width="120" template="#Actions"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.alertMessage = '@TempData["AlertMessage"]';
    window.alertIcon = '@TempData["SweetAlertType"]';
</script>

<script id="Actions" type="text/x-template">
    <a class="btn btn-sm no-a-decoration" href="/Usuarios/Edit/${Id}">
        <i class="fa-solid fa-pen-to-square fa-lg"></i>
    </a>
    <a class="btn btn-sm no-a-decoration" href="/Usuarios/SoftDelete/${Id}">
        <i class="fa-solid fa-trash"></i>
    </a>
</script>