@model Itventory.web.Entidades.OfficeSuite

@{
    ViewData["Title"] = "Modificar Suite de Office";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Modificar Suite de Office</h6>
        </div>
        <div class="card-body">
            <div class="col-sm-12">
                <form onsubmit="return validateDates()" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Status" />
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label asp-for="UserName" class="control-label">Nombre de Usuario: </label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <label asp-for="Series" class="control-label">Serial (SN):</label>
                            <input asp-for="Series" class="form-control" />
                            <span asp-validation-for="Series" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <label asp-for="StartDate" class="control-label">Fecha Inicial</label>
                            <input id="StartDate" asp-for="StartDate" type="date" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <label asp-for="FinishDate" class="control-label">Fecha Final</label>
                            <input id="FinishDate" asp-for="FinishDate" type="date" class="form-control" />
                            <span asp-validation-for="FinishDate" class="text-danger"></span>
                            <span id="dateError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <label asp-for="SelectedEmployeeIds" class="control-label">Lista de Empleados (Maximo 5 por licencia):</label>
                            <select asp-for="SelectedEmployeeIds" size="8 rows" class="form-control" asp-items="ViewBag.Employees" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-floppy"></i> Guardar
                        </button>
                        <button id="backToList" type="button" class="btn btn-outline-danger" onclick="window.location.href='@Url.Action("Index", "OfficeSuites")'">
                            <i class="bi bi-x-octagon"></i> Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#SelectedEmployeeIds").change(function () {
                var selectedEmployees = $("#SelectedEmployeeIds").val();
                var maxSelectedEmployees = 5;

                if (selectedEmployees && selectedEmployees.length > maxSelectedEmployees) {
                    // Mostrar el diálogo de Syncfusion
                    ej.popups.DialogUtility.alert({
                        title: "Alerta",
                        content: "No puedes seleccionar más de " + maxSelectedEmployees + " empleados.",
                        position: { X: "center", Y: "center" }
                    });

                    // Desmarcar la selección que excede el límite
                    $("#SelectedEmployeeIds").val(selectedEmployees.slice(0, maxSelectedEmployees));
                }
            });
        });
    </script>

    <script>
        function validateDates() {
            var startDate = document.getElementById('StartDate').value;
            var finishDate = document.getElementById('FinishDate').value;
            var dateError = document.getElementById('dateError');

            if (new Date(startDate) >= new Date(finishDate)) {
                dateError.textContent = 'La fecha inicial debe ser menor a la fecha final';
                return false;
            }

            dateError.textContent = '';
            return true;
        }
    </script>
}
