@model Itventory.web.Entidades.OtherPeripheral

@{
    ViewData["Title"] = "Modificar Periferico";
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Editar Periferico Mecanico</h6>
        </div>
        <div class="card-body">
            <div class="col-sm-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                        <input asp-for="Status" type="hidden" readonly class="form-control" />
                   

                    <div class="form-group text-center">
                        <button id="submit" type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-floppy"></i> Guardar
                        </button>
                        <button id="backToList" type="button" class="btn btn-outline-danger" o onclick="window.location.href='@Url.Action("Index", "OtherPeripherals")'">
                            <i class="bi bi-x-octagon"></i> Cancelar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
